* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 30px 20px;
    background-color: #ff00ff;
    display: flex;
    justify-content: flex-end;
}

header > div {
    background-color: #ffc6ff;
    margin: 0 10px;
    height: 70px;
    flex-basis: 140px;
}

header > :first-child {
    margin-right: auto;
}

.main-contents {
    display: flex;
    justify-content: center;
}

.left-bar {
    width: 300px;
    padding: 0;
    background-color: palegreen;
}

.right-bar {
    max-width: 700px;
    padding: 20px;
    flex-grow: 1;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.right-bar > div {
    flex-basis: 200px;
    height: 130px;
    margin: 10px;
    background-color: yellow;
}

footer {
    width: 100%;
    padding: 20px;
    background-color: #1e90ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer > div {
    background-color: #ccffff;
    flex-basis: 45%;
    max-width: 600px;
    height: 40px;
    margin: 10px;
}